---
import Work from "./Work.astro";
import Tools from "./Tools.astro";
---

<section>
  <div class="container">
    <h2>Resume</h2>

    <Work />

    <Tools />
  </div>
</section>

<style>
  .container {
    margin: 0 auto;
    padding: 2rem 2rem;
    max-width: 900px;
  }

  @media (min-width: 600px) {
  }
</style>
