<div class="container">
  <section>
    <h3>Skills</h3>

    <div class="grid">
      <div class="grid-item">
        <ul>
          <li>Semantic HTML</li>
          <li>Accessibility</li>
          <li>Inspect Dev Tools</li>
          <li>Debugging</li>
        </ul>
      </div>

      <div class="grid-item">
        <ul>
          <li>SEO</li>
          <li>Prototyping</li>
          <li>Documentation</li>
          <li>Google Analytics</li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h3>Tools</h3>

    <div class="grid">
      <div class="grid-item">
        <h4>UI</h4>
        <ul>
          <li>React</li>
          <li>Svelte</li>
          <li>Vue</li>
        </ul>
      </div>

      <div class="grid-item">
        <h4>Styling</h4>
        <ul>
          <li>Styled Components</li>
          <li>Stitches</li>
          <li>Tailwind</li>
        </ul>
      </div>

      <div class="grid-item">
        <h4>Frameworks</h4>
        <ul>
          <li>Next</li>
          <li>Gatsby</li>
          <li>SvelteKit</li>
          <li>Nuxt</li>
        </ul>
      </div>

      <div class="grid-item">
        <h4>Backend</h4>
        <ul>
          <li>Prisma</li>
          <li>AuthJs</li>
          <li>tRPC</li>
          <li>Railway or PlanetScale</li>
        </ul>
      </div>
    </div>
  </section>
</div>

<style>
.container {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

  h3 {
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
  }

  .grid {
    gap: 2.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item {
  }

  .grid-item h4 {
    margin: 0;
    margin-bottom: 1.25rem;

    font-size: 0.875rem;
  }

  .grid-item ul {
    all: unset;

    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .grid-item ul li {
    all: unset;

    font-size: 0.875rem;
  }
</style>
