---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import Projects from "../components/Projects.astro";

---

<Layout title="index">
  <main>
    <Hero />
    <Work />
    <Projects />
  </main>
</Layout>
