---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Resume from "../components/Resume/Index.astro";
---

<Layout title="index">
  <main>
    <Hero />
    <Resume />
  </main>
</Layout>

<style>
</style>
