---
import smilingGlassesEmoji from "../images/smiling-glasses-emoji.png";
---

<section>
  <div class="container">
    <div class="content">
      <img
        src={smilingGlassesEmoji}
        width="128px"
        height="128px"
        alt="Headshot of Julian Rivera"
      />

      <h1>Julian Rivera</h1>

      <ul>
        <li>Frontend</li>
        <li>Backend</li>
        <li>Accessibility</li>
      </ul>

      <p>
        Full stack web developer adept at problem solving, listening, and collaborating.
        Interested in learning new technologies and working on projects that
        have a positive impact on people.
      </p>

      <a href="mailto:me@juarri.com">me@juarri.com</a>
    </div>
  </div>
</section>

<style>
  .container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1200px;
  }

  .content {
    margin: 0 auto;
    max-width: 550px;

    gap: 2rem;
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  img {
    margin: 0 auto;
  }

  h1 {
    margin: 0;

    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }

  ul {
    all: unset;

    margin: 0;

    gap: 2rem;
    display: flex;
    justify-content: center;
  }

  ul li {
    all: unset;

    font-size: 0.875rem;
    font-weight: 600;
  }

  p {
    margin: 0;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
  }

  a {
    all: unset;

    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.75;

    text-decoration: underline;
    text-underline-offset: 0.5rem;

    cursor: pointer;
  }
</style>
