---
import smilingGlassesEmoji from "../images/smiling-glasses-emoji.png";
---

<section class="px-[5vw] py-8 pt-0">
  <div class="max-w-xl mx-auto">
    <div class="mb-5 flex flex-wrap items-center gap-4 sm:gap-5">
      <h1 class="text-3xl font-bold sm:text-4xl">Hey, I'm Julian</h1>
      <span
        class="inline-flex gap-1.5 items-center px-2 py-0.5 bg-emerald-50 border border-emerald-200 text-xs rounded-full text-emerald-500 font-bold"
        >Available for hire <div
          class="w-1.5 h-1.5 rounded-full bg-emerald-500 animate-pulse"
        >
        </div>
      </span>
    </div>

    <ul class="mb-5 flex gap-8 text-sm text-neutral-500 font-bold lg:text-base">
      <li>Frontend</li>
      <li>Backend</li>
      <li>Accessibility</li>
    </ul>

    <p class="mb-8 text-2xl">
      Experienced in problem-solving, effective communication, and collaborating.
      Eager to expand my knowledge of new technologies and be a part of projects
      that have a positive impact on people. This line is just to fill out the space
      ;)
    </p>

    <div class="flex gap-8 items-center">
      <a
        href="mailto:me@juarri.com"
        class="inline-flex rounded-full font-medium gap-4 px-6 py-3 bg-black text-white"
        >View Resume</a
      >
      <a
        href="mailto:me@juarri.com"
        class="font-medium underline underline-offset-8">me@juarri.com</a
      >
    </div>
  </div>
</section>
