---
import smilingGlassesEmoji from "../images/smiling-glasses-emoji.png"
---

<section>
  <div class="container">
    <div class="content">
      <img
        src={smilingGlassesEmoji}
        alt="Smiling Glasses Emoji"
        width="44"
        height="44"
      />
      <h1>
        Hi, I'm Julian Rivera and welcome to <span>Jackass!</span> my site...
      </h1>
      <p>
        I'm a full stack web developer adept at problem solving, accessibility
        and collaborating. Interested in learning new technologies or novel ways
        to approach design problems. I appriciate working on projects that have
        a positive impact on people.
      </p>
      <a href="mailto:me@juarri.com">me@juarri.com</a>
    </div>
  </div>
</section>

<style>
  .container {
    margin: 0 auto;
    padding: 3rem 10vw;
    max-width: 1200px;
  }

  .content {
    width: 85%;
    max-width: 650px;
  }

  img {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 2rem;

    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.25;
  }

  h1 span {
    text-decoration: line-through;
  }

  p {
    margin-top: 0;
    margin-bottom: 3rem;

    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.75;
  }

  a {
    all: unset;

    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.75;

    text-decoration: underline;
    text-underline-offset: 0.5rem;

    cursor: pointer;
  }

  @media (min-width: 600px) {
    .text-container {
      max-width: 800px;
    }

    .content {
      width: 80%;
    }

    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
</style>
