---
const jobs = [
  {
    company: "Vertiqul",
    title: "Developer",
    time: "Aug 2020 - Sep 2022",
    link: "https://vertiqul.com",
  },
  {
    company: "GloDecor",
    title: "Freelance Developer & Designer",
    time: "Jul 2020",
    link: "https://glodecorcba.com",
  },
  {
    company: "Navajas Barber Shop",
    title: "Freelance Developer & Designer",
    time: "Jun 2020",
    link: "https://navajasbarbershop.site",
  },
];
---

<section class="px-[5vw] py-8">
  <div class="max-w-2xl mx-auto">
    <h2 class="text-3xl font-bold mb-4">What I Know</h2>

    <div>
      <div>
        <h3>Frontend</h3>

        <p>
          I’m adept at problem solving, listening, and collaborating. Interested
          in learning new technologies and working.
        </p>

        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
