<header>
  <div class="container">
    <a href="/" class="logo">juarri</a>

    <nav>
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .container {
    margin: 0 auto;
    padding: 4rem 10vw;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    all: unset;

    font-size: 1.5rem;
    font-weight: 700;

    cursor: pointer;
  }

  nav ul {
    all: unset;

    gap: 2rem;
    display: flex;
    align-items: center;
  }

  nav ul li {
    all: unset;
  }

  nav ul li a {
    all: unset;

    font-weight: 500;

    cursor: pointer;
  }

  nav ul li a:hover {

  }
</style>
